AIRTABLE_TOKEN=patXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AIRTABLE_BASE_ID=app7AEsZy6fX24otc
AIRTABLE_TABLE_ID=tbl17k7ALHJLJlz9H
AIRTABLE_VIEW_ID=viwUCarO8zuKEpooR
PORT=3000
